@CHARSET "UTF-8";

body
{
	background: #d2f3f9;
	color: #010f11;
}

label
{
	font-size: 2em;
}

input
{
	height: 40px;
	width: 20em;
	font-size: 1em;
}

input[type=submit]
{
	height: 40px;
	width: 10em;
	background: #b5b8f1;
	font-weight: bold;
}

input[type=submit]:hover
{
	height: 40px;
	width: 10em;
	background: #7f87f6;
}